.card {
    width: 180px;
    height: 140px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 32px 1px rgba(7, 7, 7, 0.05);
    -moz-box-shadow: 0px 0px 32px 1px rgba(7, 7, 7, 0.05);
    box-shadow: 0px 0px 32px 1px rgba(7, 7, 7, 0.05);
    border-radius: 16px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & .center {
        flex: 2;
        width: 100%;
        display: flex;
        align-items: center;
    }
    & .title {
        font-size: 18px;
        color: #c5c7cc;
        justify-self: flex-start;
    }
    & .descr {
        font-size: 18px;  
        justify-self: flex-end;
    }
    @media screen and (min-width: 768px) {
        & {
            width: 200px;
            height: 160px;
        }
    }
    @media screen and (min-width: 992px) {
        & {
            width: 200px;
            height: 160px;
        }
    }
    @media screen and (min-width: 1200px) {
        & {
            
        }
    }
}