.temp {
  width: 100%;
  text-align: center;
  padding: 5px 15px;
}
.veryCold {
  background-color: rgba(30,136,229, 0.8);
}
.cold {
  background-color: rgba(144,202,249, 0.8);
}
.chilly {
  background-color: rgba(227,242,253, 0.8);
}
.warm {
  background-color: rgba(255,204,128, 0.8);
}
.hot {
  background-color: rgba(230,81,0, 0.8);
}